<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Bootstrap Example</title>
  </head>
  <body>

      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
            <!-- forEach loop -->
            <% imgArr.forEach((image,index)=>{ %>

            <!-- Regular if/else Statement -->
            <% if (index == 0) { %>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= index %>"
                class="active" aria-current="true" aria-label="Slide"></button>
            <%} else { %>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= index %>" class=""
                aria-current="true" aria-label="Slide"></button>
            <% } %>
            <!-- if/else -->

            <%})%>
            <!-- forEach loop -->
        </div>
        <div class="carousel-inner">
            <!-- forEach loop -->
            <% imgArr.forEach((image,index)=>{ %>

            <!-- simple if-else statements -->
            <% let active = (index == 0) ? "active" : ""; %>
            <div class="carousel-item <%= active %>">
                <img src="<%= image.download_url %>" class="image-flued d-block w-100" alt="...">
            </div>
            <%})%>
            <!-- forEach loop -->
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>